@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 180 30% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 180 30% 95%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 180 30% 95%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 180 100% 25%;
    --primary-foreground: 180 100% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 14.3% 9.1%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 43 89% 48%;
    --accent-foreground: 43 89% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 89%;
    --input: 220 13% 89%;
    --ring: 180 100% 25%;
    --chart-1: 180 100% 30%;
    --chart-2: 43 89% 55%;
    --chart-3: 0 100% 70%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 14% 10%;
    --foreground: 210 20% 98%;
    --card: 220 14% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 220 14% 10%;
    --popover-foreground: 210 20% 98%;
    --primary: 180 100% 30%;
    --primary-foreground: 180 100% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 43 89% 48%;
    --accent-foreground: 43 89% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 43 89% 55%;
    --chart-1: 180 100% 30%;
    --chart-2: 43 89% 55%;
    --chart-3: 0 100% 70%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
